.my-style {
  width: 35%;
  margin: 0 auto;
  /* height: 500px; */
  background-color: #4e4e4ae0;
  box-shadow: 2px 5px 8px #000;
  border-radius: 8px;
  padding: 10px;
  margin-top: 78px;
}

.page-style {
  background-size: cover;
  height: 100vh;
  background-image: url('https://c8.alamy.com/compfr/2ke83x1/cuisine-authentique-du-cameroun-assiette-avec-drapeau-camerounais-et-coutellerie-2ke83x1.jpg');

}

img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .my-style {
    width: 96vw;
    margin: 0 auto;
    margin-top: 110px !important;
  }
}

