.all {
  background-image: linear-gradient(115deg, #c9c3c56c, #ac9ea383), url('https://c8.alamy.com/compfr/2ke83x1/cuisine-authentique-du-cameroun-assiette-avec-drapeau-camerounais-et-coutellerie-2ke83x1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  background-attachment: fixed;
}

.add-food {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  box-shadow: 2px 4px 6px #000008;
  line-height: 2rem;
  border-radius: 8px;
  padding: 10px;
  gap: 1rem;
  background: #c9c3c5;
}



@media screen and (max-width: 600px) {
  .add-food {
    width: 90%;
    margin-top: 10px;
  }
}